.card {
  width: 250px;
  height: 350px;
  overflow: hidden;
  border: 6px solid #4b3f1d;
  border-radius: 10px;
  box-shadow: 0 0 15px #000;
  flex: 0 0 auto; /* evita que se redimensionen */

}

.card-image {
  width: 33%;
  height: 33%;
  object-fit: cover;
}
.card-grid {
  flex-wrap: nowrap; /* importante: no permite que bajen a otra línea */
  overflow-x: auto;   /* para que puedas hacer scroll si no caben */
  gap: 30px;
  padding: 40px;
}

