{% extends 'base.html' %}

{% block title %}Add Card{% endblock %}

{% block content %}
    <head>
    {% load static %}
        <title></title>
    </head>
<div class="container">
    <h2>Add Card</h2>
    {% if user.is_staff %}
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.as_p }}
        </div>
        <button type="submit">Save</button>
    </form>
    {% else %}
    <p class="no-permissions">
        You do not have permissions to add cards.
    </p>
    {% endif %}
</div>
{% endblock %}