{% extends 'base.html' %}
{% load static %}
{% block title %}
Colección de Cartas
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'colection.css' %}">
{% endblock %}

{% block content %}
<div class="search-container">
  <h1 class="search-title">Colección</h1>
  <div class="search-form">
    <input type="text" id="search" class="search-input" placeholder="Buscar por nombre...">
    <select id="typeFilter" class="search-select">
      <option value="">Todos los tipos</option>
      <option value="Human">Human</option>
      <option value="Beast">Beast</option>
    </select>
  </div>
</div>

<main id="cardContainer" class="card-grid"></main>

<script src="{% static 'script.js' %}"></script>
{% endblock %}