
<!DOCTYPE html>
<html lang="es">
<head>

  <meta charset="UTF-8">
  <title>Carta Giratoria</title>
    {% load static %}
  <link rel="stylesheet" href="{% static 'card.css' %}">
</head>
<body>

<div class="scene" onclick="document.querySelector('.card').classList.toggle('is-flipped');">
  <div class="card">
    <!-- Frente -->
    <div class="card-face card-front">
      <div class="mana-cost">4</div>
      <div class="card-header">Gimeno</div>
      <img class="card-image" src="https://www.eps.udl.cat/export/sites/Eps/Gimeno.jpg" alt="Imagen de carta">
      <div class="card-type">Legendary Creature – Human</div>
      <div class="card-text">
        Devuelve tus cartas de cuarto curso a primer curso.
      </div>
      <div class="card-power">3/5</div>
    </div>

    <!-- Reverso -->
    <div class="card-face card-back">
      <h2>EcoEdición Legendaria</h2>
      <p>Forjada en los hornos de la informática, con alma de patata y corazón de compilador.</p>
    </div>
  </div>
</div>

<script src="card.js"></script>
</body>
</html>
