{% extends 'base.html' %}
{% load static %}
{% block title %}
Card Collection
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'colection.css' %}">
{% endblock %}

{% block content %}
<div class="search-container">
  <h1 class="search-title">Collection</h1>
  <div class="search-form">
    <input type="text" id="search" class="search-input" placeholder="Search by name...">
    <select id="typeFilter" class="search-select">
      <option value="">All types</option>
      <option value="Human">Human</option>
      <option value="Beast">Beast</option>
    </select>
  </div>
</div>

<main id="cardContainer" class="card-grid">
  {% for carta in cartas %}
      <main id="cardContainer" class="card-grid">
      <img class="card-image" src="{{ carta.image.url }}" alt="Card image">

</main>

{% endfor %}

</main>

{% endblock %}
