{% extends 'base.html' %}
{% block title %}Cartas Obtenidas{% endblock %}

{% block content %}
<div class="text-center">
    <h1>¡Has conseguido estas cartas!</h1>
    <div class="row mt-4">
        {% for card in cards %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{ card.image_url }}" class="card-img-top" alt="{{ card.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ card.title }}</h5>
                        <p class="card-text">{{ card.rarity.title }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <a href="{% url 'open_pack' %}" class="btn btn-secondary mt-3">Abrir otro sobre</a>
</div>
{% endblock %}
